body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: #5cdb95;
  }
  
  .control-box {
    background-color: #05386b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height:30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button {
    background-color: #5cdb95;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    border-color: #05386bda;
    cursor: pointer;
    color: #05386b;
  }
  button:hover {
    background-color: #5cdb95b3;
  }

  h1{
    margin-bottom: 1%;
    color: #05386b;
  }